.item-background .newWindow .row div .long{
    width: 340px;
}
.item-background .newWindow .row div .long-txt{
    text-align: left;
    margin-left: 0px;
}
.item-background .newWindow .long-btn{
    margin-top: 228px;
}

